/* すべてのページに適用 */
html{
    font-size: 16px;
    font-family: sans-serif;
}
p,li,td{
    line-height: 1.7;
}
*{box-sizing: border-box;
}
body{
    margin:0 0 0 0;
}
/* すべてのページに適用　-　ヘッダー */
.header{
    background-color: #07cbfc;
}
.logo{
    background-image: url(../images/tricolor_42x10.png);
    background-repeat: repeat-x;
    padding-top: 25px;
    text-align: center;
}

.nav ul{
    margin: 0 0 0 0;
    list-style-type:none;
    background-color: #07cbfc;

    display:flex;
    justify-content: center;
    gap:40px;
} 

.nav a:link{
    color: #ffffff;
    text-decoration: none;    
}
.nav a:visited{
    color: #ffffff;
     text-decoration: none;    
}
.nav a:hover{
    color: #ffff91;
   text-decoration: none;
}
.nav a:active{
   text-decoration: none;
}
/* すべてのページに適用　- ヒーロー　 */
/* すべてのページに適用　- メイン　*/
main {
    margin: 90px auto 90px auto;
    max-width: 1000px;
}

/* すべてのページに適用　-　フッター */
.gotop {
    text-align: right;
}
.copyright{
    margin-top: 20px;
    margin-bottom: 0;
    padding-top: 15px;
    background-image: url(../images/tricolor_42x10.png);
    background-repeat: repeat-x;
    background-color: #07cbfc;
    color: #ffffff;
    text-align: left;
}
/* 個別のスタイル */
/* login.html */
.login_main{
    margin: 90px auto 90px auto;
    max-width: 1000px;
    height: 390px;
    
}
.login h2{
    margin-top: 0px;
}
input[name=id]{
    width:12em;
}
#login_form{
    margin: auto;
    max-width: 540px;
    text-align: center;
}

.p_main{
	text-align: center;
}

input[name=login],[name=reset-login]{
    border: none;
    background-color: rgb(7,203,252);

}
input[name=login]:hover{
    background: linear-gradient(270deg, rgba(83,101,200) 0%, rgba(83,101,200) 100%);
    color: #fff
}
input[name=reset-login]:hover{
    background: linear-gradient(270deg, rgba(83,101,200) 0%, rgba(83,101,200) 100%);
    color: #fff
}

/* home.html */
.hidden{
    display: none;
}
/* register.html */
#register_form {
    margin: auto;
    max-width: 640px;
    border: 1px solid #000;
}
.regist-submit{
    text-align: right;
}
#register,#reset{
    border: none;
    padding: 15px;
    background-color:#07cbfc;
    color: #ffffff;
    font-size: 1rem;
}
table{
    margin: auto;    
}
input[name=department]{
    width: 10em;
}
input[name=position]{
    width: 10em;
}
input[name=name]{
  width: 12em;
}

input[name=zipcode]{
  width: 8em;
}

input[name=company]{
    width:12em;
}
textarea{
    padding: 6px;
    width: 100%;
    font-size: 1rem;
}
input[name=email],input[name=homepage],#result_address{
    width: 100%;
}
input[name=company]{
    width: 70%;
}
input[name=regist]:hover{
    background: linear-gradient(270deg, rgba(83,101,200) 0%, rgba(83,101,200) 100%);
    color: #fff
}
input[name=reset]:hover{
    background: linear-gradient(270deg, rgba(83,101,200) 0%, rgba(83,101,200) 100%);
    color: #fff
}

/* search.html */
#search{
	text-align:center;
}
.search_table{
	text-align: center;
}
#search_input{
    font-size: 1rem;
}
#keyword_search{
	text-align: center;
}
.search_reg{
	text-align: right;
}
.a_search{
	text-align:center;
}
.shousai{
	text-align:center;
}
#gotop_search{
	display:none;
}
/* search_result */
#search_form {
    margin: auto;
    max-width: 640px;
    border: 1px solid #000;
}
.result-submit{
    text-align: right;
}
#submit,#search_reset{
    border: none;
    background-color:#07cbfc;
    color: #ffffff;
    font-size: 1rem;
}
input[name=submit]:hover{
    background: linear-gradient(270deg, rgba(83,101,200) 0%, rgba(83,101,200) 100%);
    color: #fff
}
html {
    scroll-behavior: smooth;
}
.pagetop {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #fff;
    border: solid 2px #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pagetop__arrow {
    height: 10px;
    width: 10px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    transform: translateY(20%) rotate(-45deg);
}
/* result.jsp */
.mainresult{
    margin: 90px auto 90px auto;
    max-width: 1000px;
    max-height: 10000px;
    
}
.pagetop {
    box-shadow: 0 4px 6px rgb(0 0 0 / 30%);
}
@media (hover: hover) and (pointer: fine) {
    .pagetop:hover, .pagetop:hover .pagetop__arrow {
        border-color: #3293e7;
    }
}
/* モバイル対応 */
@media(max-width: 767px){
    .nav ul{
        flex-wrap: wrap;
        gap: 20px;
    }
    .mainresult{
        padding: 0 6%;
    }
    #register_form{
        border: none;
    }
    #result_form{
    	border: none;
    }
    .gotop{
        text-align: center;
    }
    #gotop_register{
        display: none;
    }
    
    .copyright{
        text-align: center;
    }

 .pagetop {
        position: fixed;
        left: 20px;
        bottom: 20px;
    }
   
}
